{% extends "base.html" %}

{% block content %}
<div class="container">
<h1>Роль пользователя</h1>
<form action="" method="post">
{{ form.hidden_tag() }}
    <p>
        {{ form.title.label }}<br>
        {{ form.title }}<br>
        {% for error in form.title.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary", href="https://yandex.ru/") }}</p>
    {{ message }}
</form>
</div>
{% endblock %}